<%- include('partials/header') %>
    <div class="container mt-3">
        <p>
            <a href="/add">Add ToDo</a>
        </p>
        <p>
            <a href="/list">List ToDo</a>
        </p>
        
    </div>
    <%- include('partials/footer') %>