<%- include('partials/header') %>
    <div class="container mt-3">
        <div class="jumbotron bg-light text-dark p-5 mt-4 rounded">
            <div class="container">
              <h1 class="display-4">Bienvenue sur votre Todo List</h1>
              <p class="lead">Organisez vos tâches efficacement avec notre application intuitive et simple d'utilisation.</p>
              <hr class="my-4">
              <p>Ajoutez, modifiez et suivez vos tâches au quotidien pour maximiser votre productivité.</p>
              <a class="btn btn-primary btn-lg" href="/add" role="button">Commencez à Ajouter des Tâches</a>
            </div>
          </div>
        
    </div>
    <%- include('partials/footer') %>