<%- include('../partials/header') %>
    <div class="container mt-3">

        <div id="myDIV" class="header">
            <h2>Add ToDo</h2>
            <input type="text" id="myInput" placeholder="Title...">
            <button id="addBtn">Add</button>
        </div>
    </div>

    <%- include('../partials/footer') %>