<%- include('../partials/header') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md col-lg-4 col-xl-6 mt-2">
                <div id="mainContainer" class="card shadow-sm p-4 mx-auto" style="max-width: 600px">
                    <h4 class="mb-4 text-center text-secondary">Ajouter une tâche</h4>
                    <div class="form-group">
                        <label for="titleInput" class="sr-only">Titre</label>
                        <input type="text" id="titleInput" class="form-control form-control-lg" placeholder="Votre tâche en 50 caractères maximum." />
                    </div>
                    <div class="form-group">
                        <label for="dueDate" class="sr-only">Date fin</label>
                        <input type="date" id="dueDate" class="form-control form-control-lg" name="dueDate" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="addBtn" class="btn btn-secondary btn-sm px-5">
                            Ajouter
                        </button>
                    </div>
                </div>
                <% if (error) { %>
                    <div class="alert alert-danger mt-2">
                        <%= error %>
                    </div>
                    <% } %>
            </div>

            <div class="col-md col-lg-8 col-xl-6 mt-2">
                <h2>Liste des tâches</h2>
                <ul id="todoList" class="list-group mb-3"></ul>

                <nav>
                    <ul class="pagination justify-content-center" id="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>