<%- include('../partials/header') %>
    <div class="container mt-3">
        <div id="myDIV" class="header">
            <h2>Delete ToDo</h2>
            <input type="number" id="myId" value="<%= id %>">
            <input type="text" id="myInput">
            <button id="deleteBtn">Delete</button>
        </div>
    </div>

    <%- include('../partials/footer') %>