<%- include('../partials/header') %>

    <div class="container mt-3">
        <div class="container mt-3">
            <h1>Liste des ToDos</h1>
            <ul id="todos">
            </ul>
        </div>
    </div>

    <script>
        window.todos = <%- JSON.stringify(todos || []) %>;
    </script>

    <!-- box modal modify ToDo -->
    <div id="modalModify" class="modalModify" style="display: none;">
        <div class="modal-content-modify">
            <span class="close">&times;</span>
            <h2 id="modal-title-modify">Modify ToDo</h2>
            <form id="modal-form">
                <label for="todo-text">Text:</label>
                <input type="text" id="todo-text-modify" name="text" required>
                <br><br>
                <label for="todo-checked">Completed:</label>
                <input type="checkbox" id="todo-checked-modify" name="checked">
                <br><br>
                <button type="button" id="modal-save-modify">Modify</button>
                <button type="button" id="modal-cancel">Cancel</button>
            </form>
        </div>
    </div>

    <!-- box modal delete ToDo -->
    <div id="modalDelete" class="modalDelete" style="display: none;">
        <div class="modal-content-delete">
            <span class="close">&times;</span>
            <h2 id="modal-title-delete">Modify ToDo</h2>
            <form id="modal-form">
                <label for="todo-text">Text:</label>
                <input type="text" id="todo-text-delete" name="text" required>
                <br><br>
                <label for="todo-checked">Completed:</label>
                <input type="checkbox" id="todo-checked-delete" name="checked">
                <br><br>
                <button type="button" id="modal-save-delete">Modify</button>
                <button type="button" id="modal-cancel-delete">Cancel</button>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') %>