<%- include('../partials/header') %>
    <div class="container mt-3">
        <h1>List Todo</h1>
        <ul id="todos">
            <li class="items checked">Hit the gym</li>
            <li class="checked items">Pay bills</li>
            <li class="items">Meet George</li>
            <li class="items">Buy eggs</li>
            <li class="items">Read a book</li>
            <li class="items">Organize office</li>
        </ul>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.3/purify.min.js"></script>
    </div>

    <%- include('../partials/footer') %>