<%- include('../partials/header') %>

    <div class="container mt-3">
        <div class="container mt-3">
            <h1>Liste des Tâches</h1>
            <ul id="todos">
            </ul>
        </div>
    </div>

    <!-- <script nonce="<%= //nonce %>"> -->
    <script>
        window.todos = <%- JSON.stringify(todos || []) %>;
    </script>

    <!-- box modal modify ToDo -->
    <div id="modalModify" class="modalModify" style="display: none;">
        <div class="modal-content-modify">
            <span id="close-modify">&times;</span>
            <h2 id="modal-title-modify">Modifier une tache</h2>
            <form id="modal-form">
                <label for="todo-text">Tâche </label>
                <input type="text" id="todo-text-modify" name="text" required>
                <br><br>
                <label for="todo-username">Username </label>
                <input type="text" id="todo-text-username" name="text" required disabled>
                <br><br>
                <label for="todo-checked">Terminée </label>
                <input type="checkbox" id="todo-checked-modify" name="checked">
                <br><br>
                <button type="button" id="modal-save-modify">Modifier</button>
                <button type="button" id="modal-cancel-modify">Annuler</button>
            </form>
        </div>
    </div>

    <!-- box modal delete ToDo -->
    <div id="modalDelete" class="modalDelete" style="display: none;">
        <div class="modal-content-delete">
            <span id="close-delete">&times;</span>
            <h2 id="modal-title-delete">Supprimer une tâche</h2>
            <form id="modal-form">
                <label for="todo-text">Tâche </label>
                <input type="text" id="todo-text-delete" name="text" required disabled>
                <br><br>
                <label for="todo-username-delete">Username </label>
                <input type="text" id="todo-text-username-delete" name="text" required disabled>
                <br><br>
                <label for="todo-checked">Terminée </label>
                <input type="checkbox" id="todo-checked-delete" name="checked" disabled>
                <br><br>
                <button type="button" id="modal-save-delete">Supprimer</button>
                <button type="button" id="modal-cancel-delete">Annuler</button>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') %>