<%- include('../partials/header') %>
    <div class="container mt-3">
        <h1>Connexion</h1>

        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>

        <% if (error) { %>
            <div class="alert alert-danger mt-2">
                <%= error %>
            </div>
            <% } %>
    </div>
    <%- include('../partials/footer') %>