<%- include('../partials/header') %>

    <div class="container mt-4">
        <ul class="list-group" id="searchResults"></ul>

        <nav>
            <ul class="pagination mt-3" id="pagination"></ul>
        </nav>
    </div>
    <%- include('../partials/footer') %>