* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

#todos {
    margin: 0;
    padding: 0;
}

#todos li.items {
    display: flex; /* Active flexbox sur chaque <li> */
    align-items: center; /* Centre verticalement le texte et le bouton */
    justify-content: space-between; /* Espace entre le texte et le bouton */
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    margin: 5px auto;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#todos li.items button {
    background-color: #4d4141; /* Couleur rouge pour le bouton */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Animation au survol */
  }

#todos li.items:nth-child(odd) {
    background: #f9f9f9;
}

#todos li.items:nth-child(even) {
    background: #eee;
}

#todos li.items.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

#todos li.items.checked::before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

#todos li.items:hover {
    background: #ddd;
    color: black;
}

.btn {
    font-size: inherit;
    margin: auto 5px;
    border-color: black;
    cursor: pointer;
  }

.btn:hover {
    background-color: rgb(133, 96, 96);
    color: rgb(182, 173, 53);
  }