* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

#todos {
    margin: 0;
    padding: 0;
}

#todos li.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    margin: 5px auto;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#todos li.items button {
    background-color: #4d4141;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#todos li.items:nth-child(odd) {
    background: #f9f9f9;
}

#todos li.items:nth-child(even) {
    background: #eee;
}

#todos li.items.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

#todos li.items.checked::before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#todos li.items:hover {
    background: #ddd;
    color: black;
}

#todos li.items .btn {
    font-size: inherit;
    margin: auto 5px;
    border-color: black;
    cursor: pointer;
}

#todos li.items .btn.modify:hover {
    background-color: rgb(236, 232, 10);
    color: rgb(0, 0, 0);
}

#todos li.items .btn.deleted:hover {
    background-color: rgb(215, 21, 21);
    color: rgb(255, 255, 249);
}


/* Styles de la boîte modale (comme précédemment) */

.modalModify, .modalDelete  {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-modify, .modal-content-delete {
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    background: white;
    border-radius: 10px;
}

[id*=close] {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

[id*=todo-text]{
    padding: 5px;
}

#todos li.items.no-data {
    background-color: #888;
    color: whitesmoke;
}

#todos li.items.no-data a {
    text-decoration: none;
    color: inherit;
}

#todos li.items.no-data button:hover {
    background-color: rgb(8, 7, 7);
}